.card{
  margin: 0 auto;
  max-width: max-content;
}
.container {
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: -5px;
  text-align: center;
  }

.search-icon {
  font-size: 100px;
}

.search {
  position: absolute;
  top: 20px;
  left: 183px;
  border-radius: 26px;
  border-color: transparent;
  text-align: center;
}

.title {
   color: floralwhite;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7px;
  font-weight: bold;
  text-transform: capitalize;
}
#present-city{
  position:absolute;
  top: 228px;
  left: 170px;
  text-align: center;
  color:rgb(17, 31, 13);
  font-size: 60px;
  font-weight:100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sun-icon {
  font-size: 80px;
  color: rgb(252, 248, 24);
  margin: 10px;
}

.preciseButton {
  color: #fff;
  padding: 10px 20px;
}
#current-time{
position: absolute;
top: 120px;
left: 45px;
text-align: center;
font-size: 18px;
}
#current-date{
  position: absolute;
  top: 140px;
  left: 45px;
  font-size: 17px;
  text-align: center;
}

.weather-condition {
  position: absolute;
  top: 460px;
  left: 207px;
  color:darkblue;
  font-weight: bold;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}
.card-text{
  position: absolute;
  top: 368px;
  left: 10px;
  font-family: fantasy, sans-serif;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}
.temperature .active{
  color: rgb(150, 56, 64);
  text-decoration: none;
}
#celsuis:hover,
#fahrenheit:hover {
color: rgb(207, 64, 71);
}
#fahrenheit,
#celsuis {
text-decoration: none;
}
.coder {
  font-size: 18px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  margin-top: auto;
  margin-bottom: 50px;
}