.card{
  margin: 0 auto;
  max-width: max-content;
}
.container {
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: -5px;
  text-align: center;
  }

.search-icon {
  font-size: 100px;
}

.search {
  position: absolute;
  top: 20px;
  left: 183px;
  border-radius: 26px;
  border-color: transparent;
  text-align: center;
}

.title {
  position: absolute;
  top: 180px;
  left: 30px;
  color: floralwhite;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 37px;
  font-weight: bold;
  text-transform: capitalize;
}
.title, #present-city{
  position:absolute;
  top: 100px;
  left: 129px;
  text-align: center;
  color:crimson;
  font-weight:100;
}

.sun-icon {
  font-size: 80px;
  color: rgb(252, 248, 24);
  margin: 10px;
}

.preciseButton {
  color: #fff;
  padding: 10px 20px;
}
#current-time{
position: relative;
top: 89px;
left: -100px;
text-align: center;
font-size: 18px;
}
#current-date{
  position: relative;
  top: 70px;
  left: -90px;
  font-size: 17px;
  text-align: center;
}

.weather-condition {
  position: absolute;
  top: 410px;
  left: 207px;
  color:darkblue;
  font-weight: bold;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}
.card-text{
  position: absolute;
  top: 320px;
  left: 138px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 27px;
  color: floralwhite;
}
.temperature .active{
  color: rgb(150, 56, 64);
  text-decoration:floralwhite;
}
#celsuis:hover,
#fahrenheit:hover {
color: rgb(207, 64, 71);
}
#fahrenheit,
#celsuis {
text-decoration: none;
}
.coder {
  position: relative;
  top: auto;
  left: 0;
  color: rgb(44, 68, 44);
  font-size: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}