.card{
  margin: 0 auto;
  max-width: max-content;
}
.container {
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: -5px;
  text-align: center;
  }

.search-icon {
  font-size: 100px;
}

.search {
  position: absolute;
  top: 60px;
  left: 246px;
  border-radius: 26px;
  border-color: transparent;
  text-align: center;
}

.title {
   color: #fff;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7px;
  font-weight: bold;
  text-transform: capitalize;
}
#present-city{
  position:absolute;
  top: 283px;
  left: 390px;
  text-align: center;
  color: rgb(53, 47, 133);
  font-size: 60px;
  font-weight:bold;
  font-family: 'Raleway', sans-serif;
}
#current-time{
position: absolute;
top: 260px;
left: 298px;
text-align: center;
font-size: 18px;
}
#current-date{
  position: absolute;
  top: 280px;
  left: 298px;
  font-size: 17px;
  text-align: center;
}

.weather-condition {
  position: absolute;
  top: 460px;
  left: 450px;
  color: rgb(34, 25, 158);
  font-weight: 600;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}
#current-temp{
  position:absolute;
  top: 378px;
  left: 520px;
}
#celsius{
  position:absolute;
  top: 380px;
  left: 580px;
  color: darkblue;
  font-size: 26px;
  text-decoration:solid;
}
  .card-text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 43px;
  color: #fff;
}
.weather-forecast-date {
  font-size: 20px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 18px;
}
.coder {
  font-size: 15px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  margin-top: auto;
  margin-bottom: 50px;
}